# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
downloadenv/

# uv / venv
.venv/

# Downloads
downloads/
panda-downloader/

# OS / editor
.DS_Store
.idea/
.vscode/
